<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	
	<nav class='navbar navbar-expand-xl navbar-dark bg-dark navbar-static-top'>
		<!-- <div class='container'> -->
		
			<ul class='navbar-nav nav-justified'>
				<li class='nav-item'><a href="{% url 'index' %}" class='navbar-brand'>BRAND</a></li>
				<li class='nav-item'><a href="{% url 'admin:index' %}" class='nav-link'>Admin</a></li>			
				<li class='nav-item'><a href="{% url 'basic_app:other' %}" class='nav-link'>Other</a></li>
			</ul>
		
		<!-- </div> -->
	</nav>


	<div class='container'>
		{% block body_block %}
		<!-- Anything outside of this will be inherited if you extend -->
		{% endblock %}
		
	</div>
		
	
</body>
</html>